
@import url('https://fonts.googleapis.com/css?family=Bitter|Ubuntu');

/*
fonts


headungs - bitter
other - ubuntu

Colors
dark blue - #78909C  
dark grey - #414242
soft gold - #F9E79F  */

/*different sections////////////////////*/
.section1{
    background-color:#fff ;
    height:auto;
min-height: 400px;
    padding:75px;
}
.section2{
    background-color:#78909C;
    height:auto;
    min-height: 400px;
    padding:75px;
}

.midPageImgSection{
    width: 100%;
    height:250px; 
    background-color: green;
}


/*Global styles///////////*/
h1{
    font-size:4em;
    text-decoration: underline;   
    font-family: 'Bitter', serif;
}
h2{
    font-size: 2.5em;
    font-family: 'Bitter', serif;
}
h3{
    font-size: 1.5em;
    font-family: 'Bitter', serif;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 18px;
}
a{
    font-family: 'Ubuntu', sans-serif !important;
}
.hrcolor{
    height: 2px;
    background-color:#78909C;
}
.navbar{
    margin-bottom: 0px;
     background-color:#fff;
    color:#fff;
    border:none;
    height: 75px;
    border-bottom: 7px solid #78909C;
}
.nav .active a{
    background-color:#fff !important;
    border-bottom:#000 solid 7px;
    color:#78909C !important;
}
.nav a{
    color:#000 !important;
    height: 75px;
    min-width:100px !important;
    line-height:45px !important;
    text-align: center;
    font-size: 18px;
    letter-spacing:1px;
    transition: all .1s ease-in-out;
}
.nav a:hover{
    
    border-bottom:#F9E79F solid 7px;
}
.page-header{
    display: block;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
}
.button1{
    background-color:#414242;
    color:white;
    width: 125px;
    min-height: 45px;
    font-size: 20px;
    margin: 10px;
    border: 1px #fff solid;
    transition: all .2s ease-in-out;
}
.button1:hover{

    background-color:lightblue;
    color:black;

}
.topBar{
    background-color:#414242;
    min-height:50px;
    height: auto;
}
.topBar p{
    color:#fff;
     padding: 15px 0;
    font-size: 14px;
}
.blackOpcity{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,.5);
}

.secondaryNav{
    width:10%;
    max-width:200px;
    height:300px;
    position:fixed;
     top:175;
    left:-175;
    display: block;
 
    font-size: 20px;
}
.secondaryNavPosition{
    left:0 !important;
    transition: all 1s ease-in;
}
.sideNavOption{
    width:100%;
    width: 175px;
    height: 50px;
    font: 20px;
    display: block;
    text-align: center;
           background-image: -webkit-linear-gradient(90deg,#000 0,transparent);
    background-image: linear-gradient(90deg,#000 0,transparent);
        margin: 5px 0;
    line-height: 50px;
    color: #fff;
    transition: all .1s ease-in-out;
}
.sideNavOption:hover{
    width: 200px!important;
    font-size: 24px;
    color:#fff;
}

@media (max-width: 900px) {

    .secondaryNav{
        width: 100%;
        max-width: 100%;
        height: 45px;
        top:0;
        left: 0;
        position: inherit;
   
    }
    .sideNavOption{
        width: 25%;
        float: left;
        min-height: 45px;
    }
    .secondaryNavMobliePosition{
    position:fixed;
          
}
}


/*end of Global styles///////////*/



/*hero section////////////////////*/
.navbarlogo{
   
}
.navbar-brand{
    padding: 10px 15px !important;
}
#heroBackgroundImage1{
   background-color: blue;
   background: url(../img/hero1.image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 750px;
}
#heroContent1{
    display: block;
    width: 50%;
    margin: 0 auto;
}
#heroContent1 h3{
    text-align: center;
    color:white;
}
.mainHeroLogo1{
    display: block;
    width: 80%;
    max-width:250px;
    height: auto;
    margin: 0 auto;
    padding-top: 75px;
}

#heroBackgroundImage{
    overflow: hidden;
    height:600px;
    background:url(../img/barbackground.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.heroBox{
    display: block;
    width: 100%;
    max-width:1000px;
    height: auto;
    min-height:600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.logo{
    height:285px;
    width:100%;
    background-image: url(../img/theBattersBoxLogo.png);
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    top:27%;
    margin-top: -100px;
    z-index: 9999;
}

.beer{
    width:100%;
    max-width:500px;
    height:400px;
    background-image: url(../img/herobeer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom:35px;
   left:7%;
    
    
}

.burger{
    width:600px;
    height:300px;
    
    background-image:url(../img/heroBurger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom:0;
    left:28%;
    z-index: 10000;
    
    
}
@media (max-width: 900px) {
    .beer, .burger{
        left:0;
        right:0;
        
    }
    
}
@media (max-width: 550px) {
    #heroBackgroundImage{
        height: 500px;
    }
     .beer{
        background-position: right center;
        left:0
    }
    .burger{
        /*width:400px;
        left:1px;*/
        display: none;
    }



}

/*end hero section////////////////////*/







/*Index Styles////////////////////*/
.specialsSection{
    margin-top:60px;
    margin-bottom:40px;
}
.topthreeCTAs{
    margin-top:50px;
}
.drinksCTA{
    font-size: 3em;
    color: #fff;
    line-height:220px;
}
.drinksCTAImgBG{
       background: url(../img/beertaps.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
.quotesImgBG{
background-image:url(../img/dark_wood.png);
    background-repeat:repeat;
 height: 300px;
    overflow: hidden;
  }

.quotes{  margin:0 auto;
  padding:25px;
  text-align: center;
  list-style-type: none;
  width: 100%;
  position:relative;
background-color: rgba(1,1,1,.5);}

.blockquote{
    height: 100%;
    width: 100%;
    color:white;
    /*font-size:2em;*/
    text-align: center;
    
}
.personQuote{
    padding-top: 75px;
    font-size:35px;
    font-style: italic;
    line-height: 40px;
}
.nameForQuote{
    font-size: 34px;
    line-height: 44px;
}
.glyphicon-cutlery, .glyphicon-glass, .glyphicon-education, .glyphicon-cd,.glyphicon-calendar,.glyphicon-search,.glyphicon-book{
    font-size:100px;
    clear: both;
    text-align: center;
    width: 100%;
}
/*end Index Styles////////////////////*/


/*Menu page Styles////////////////////*/
#saladlink{  
    background: url(../img/saladBowl.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
#tacolink{
       background: url(../img/spicyTaco.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#burgerlink{
       background: url(../img/burgerPlate.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#applink{
           background: url(../img/pizzaApp.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-page-header{
   background: url(../img/burger1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:300px;
    
}.menu-page-header h1{
    color:#fff;
    font-weight: bold;
    line-height: 125px;
}
 .foodlist li{
    max-width: 300px;
    width:100%;
    height: 20px;
    border-bottom: 1px dotted black;
    background-color: white;
    
}
.menuItemSection{
    width: 100%;
    height:300px;
    display: block;
    padding: 15px;
    margin: 10px;
    clear: both;
}
.menuChoice{
    width: 100%;
    height: 45px;
    display: block;
    clear: both;
    margin-bottom: 15px;
 }
.foodName, .foodPrice{
    font-family: 'Ubuntu', sans-serif;
    height: 22px;
    font-size:20px;
}
.foodName{
    float:left;
    font-weight: bold;
}
.foodPrice{
    float: right;
}
.foodNote{
    clear: both;
    font-size: 14px;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
}
.whiskeyDrink{
    clear: both;
    font-size:18px;
    line-height: 22px;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
}
#ctail .foodPrice{
    font-size:18px;
}
/*end menu Styles////////////////////*/

/*drink Styles////////////////////*/
#beer{   
   background: url(../img/beerTap.jpg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
#cocktail{
       background: url(../img/cocktail.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#whiskey{
       background: url(../img/whiskeyBarrels.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wine{
       background: url(../img/wineGlass.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*end drink Styles////////////////////*/


/*event page Styles////////////////////*/
.eventPhoto{
    width:300px;
    height: auto;
    margin: 0 auto;
    
}
/*end event Styles////////////////////*/




/*Footer////////////////////*/
#footer{
    min-height: 200px;
    padding: 50px 0;
    background-color:#414242;
    color:white;
        position: relative;
    z-index: 9;
    border-top: 5px #F9E79F solid;
}
