//@media(max-width:900px)
//@media(max-width:768px)
//@media(max-width:450px)
//@media(max-width:325px)
//Colors
$lightBlue:#2C5C67;
$darkBlue:#2C4251;
$warmRed:#D16656;
$darkGrey:#2e2e2e;
///Fonts
$headingFont:'Bitter', serif;
$paraFont: 'Ubuntu', sans-serif;


@import url('https://fonts.googleapis.com/css?family=Bitter|Ubuntu');





/*sections////////////////////////////////////////////////////////////////////*/


.section1{
background-color:#fff;
height:auto;
min-height: 400px;
padding:75px 0;
}
.section2{
background-color:$darkBlue;
height:auto;
min-height: 400px;
padding:75px 0;
color:#fff;
}
@media (max-width:768px){
.section1, .section2{
padding: 75px 0;
}
}
.midPageImgSection{
width: 100%;
height:250px;
background-color: green;
}


/*end of sections/////////////////////////////////////////////////////////////*/
/*Global styles///////////////////////////////////////////////////////////////*/


h1{
font-size:4em;
text-decoration: underline;
font-family: $headingFont;
}
h2{
font-size: 2.5em;
font-family: $headingFont;
}
h3{
font-size: 1.5em;
font-family: $headingFont;
margin: 0 15px;
}
h4{
font-size: 1em;
font-family: $headingFont;
letter-spacing: .5px;
}
p{
font-family: $paraFont;
font-size: 16px;
line-height: 18px;
}
a{
font-family: $paraFont !important;
}
li{
font-family: $paraFont !important;
}
.hrcolor{
height: 2px;
background-color:$warmRed;
}

.page-header{
display: block;
width: 100%;
height: 350px;
margin: 0;
padding: 0;
}
.button1{
background-color:$darkBlue;
color:white;
width: auto;
min-width: 125px;
min-height: 45px;
font-size: 20px;
margin: 10px;
border: 1px #fff solid;
transition: all .2s ease-in-out;
text-decoration: none;
:hover{
background-color:$warmRed;
color:#fff;
}
}
.button a{
text-decoration: none;
}
.topBar{
background-color:$darkGrey;
min-height:50px;
height: auto;
p{
color:#fff;
padding: 15px 0;
font-size: 14px;
min-height: 44px
}
}
.blackOpcity{
display: block;
width: 100%;
height: 100%;
background: rgba(1,1,1,.5);
}


/*end of Global styles////////////////////////////////////////////////////////*/
/* Nav styles////////////////////////////////////////////////////////////////*/
.navbar{
margin-bottom: 0px;
background-color:#fff;
color:#fff;
border:none;
height: 75px;
border-bottom: 7px solid $darkBlue;
a{
color:#000;
height: 75px;
min-width:100px;
line-height:45px;
text-align: center;
font-size: 18px;
letter-spacing:1px;
transition: all .1s ease-in-out;
}
a:hover{
border-bottom:$warmRed solid 7px;
}
.active{
a{
background-color:#fff;
border-bottom:#000 solid 7px;
color:$darkBlue;}
}
}
.navbar-brand>img {
display: block;
width:200px;
}

.secondaryNav{
width:10%;
max-width:200px;
height:300px;
position:fixed;
top:175;
left:-175;
display: block;
font-size: 20px;
}
.secondaryNavPosition{
left:0;
transition: all .5s ease-in;
}
.sideNavOption{
width:100%;
width: 175px;
height: 50px;
font-size: 20px;
display: block;
text-align: center;
background: -webkit-linear-gradient(90deg,#000 0,transparent);
background: linear-gradient(90deg,#000 0,transparent);
margin: 5px 0;
line-height: 50px;
color: #fff;
transition: all .1s ease-in-out;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;



}

.secondaryNavMobliePosition{
top:0 !important;
position: fixed !important;
}

#monlieNavCloseBtn{
display: none;
}

@media (max-width: 900px) {
.secondaryNav{
width: 100%;
max-width: 100%;
height: 45px;
top: 375px;
left: 0;
position:absolute;
z-index:1;

}

.sideNavOption{
width: 25%;
float: left;
min-height: 45px;
background: #000;
:hover{
width:25%;
font-size: 24px;
color:#fff;
background:#000;
}
}

}
/*.secondaryNavMobliePosition{
position:fixed !important;
top:0;

}*/
@media(max-width:768px){
.navbar-nav{
margin: 0;
height: 100%;
a{

color: #fff;
height:14%;
max-height:50px;
margin: 1%;
line-height:20px
}

a:hover{
border-bottom:none;

}
a:focus{
background-color:$darkBlue;
}
.active a{
background-color:$lightBlue;
border:none;
color:#fff;}

}


.topMoblieLink{
margin-top: 50px;
}
#monlieNavCloseBtn{
display: block;
width: 100%;
a{
display: block;
width: 100px;
height: 45px;
position: absolute;
top: 0;
right: 0;
background:$darkBlue;
float: right;
line-height: 22px;
}
}
div#bs-example-navbar-collapse-1{
color: #fff !important;
background:#222;
position:fixed;
top: 0;
bottom: 0;
left: 0;
width: 100%;
min-height: 100% ;
margin: 0;
z-index:99999;
transition:all .35s ease;
padding: 10px 25px;
}
.navbar-header{
button{
background-color:$darkBlue;
font-family:$paraFont;
width:150px;
height: 45px;

}
button:hover{
background-color:$lightBlue;
}
button:focus{
background-color:$lightBlue;
}
}




}
@media(max-width:450px){
.navbar-brand>img {
margin-top: 7px;
width:130px;
}
.navbar-header{
button{
width:70px;
}
}
.sideNavOption{
width:50%;
margin: 0px;
:hover{
width:50%;
}
}
}
@media(max-width:325px){}


/*end of Nav styles////////////////////////////////////////////////////////*/
/*hero section////////////////////////////////////////////////////////////////*/


.navbar-brand{
padding: 10px 15px !important;
}
#heroBackgroundImage1{
background-color: blue;
background: url(../img/hero1.image.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 750px;
}
#heroContent1{
display: block;
width: 50%;
margin: 0 auto;
h3{
text-align: center;
color:white;
}
}
.mainHeroLogo1{
display: block;
width: 80%;
max-width:250px;
height: auto;
margin: 0 auto;
padding-top: 75px;
}
#heroBackgroundImage{
overflow: hidden;
height:600px;
background:url(../img/barbackground.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.heroBox{
display: block;
width: 100%;
max-width:1000px;
height: auto;
min-height:600px;
margin: 0 auto;
position: relative;
overflow: hidden;
}
.logo{
height:285px;
width:100%;
background-image: url(../img/theBattersBoxLogo.png);
background-position:center;
background-repeat: no-repeat;
position: absolute;
top:27%;
margin-top: -100px;
z-index:999;
}
.beer{
width:100%;
max-width:500px;
height:400px;
background-image: url(../img/herobeer.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
position: absolute;
bottom:35px;
left:7%;
}
.burger{
width:600px;
height:300px;
background-image:url(../img/heroBurger.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
position: absolute;
bottom:0;
left:28%;
z-index:1000;
}
@media (max-width: 900px) {
.beer {
left:0;

}
.burger{
right:0;
}
}
@media (max-width:600px) {
#heroBackgroundImage{
height: 500px;
}
.beer{
background-position: right center;
left:0;
top: 120px;
}
.burger{
display: none;
}
}


/*end hero section////////////////////////////////////////////////////////////*/
/*Index Styles////////////////////////////////////////////////////////////////*/


.section1 h1{
margin-bottom: 15px;
}
.specialsSection{
margin-top:60px;
margin-bottom:40px;
}
.topthreeCTAs{
margin-top:50px;
}
.topCTA{
margin-bottom:25px;
h3{
margin-bottom:20px;
}

}
.drinksCTA{
font-size: 3em;
color: #fff;
line-height:220px;
}
.drinksCTAImgBG{
background: url(../img/beertaps.jpg) no-repeat center top fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.theDaySpecial{
margin: 15px 0;
h3{
margin:15px 0;
}

}
.homePageIcon{
display: block;
width: 175px;
margin: 0 auto;
}
.quotesImgBG{
background-image:url(../img/dark_wood.png);
background-repeat:repeat;
height: 300px;
overflow: hidden;
}
.quotes{
margin:0 auto;
padding:25px;
text-align: center;
list-style-type: none;
width: 100%;
position:relative;
background-color: rgba(1,1,1,.5);}
.blockquote{
height: 100%;
width: 100%;
color:white;
/*font-size:2em;*/
text-align: center;
}
.personQuote{
padding-top: 75px;
font-size:35px;
font-style: italic;
line-height: 40px;
}
.nameForQuote{
font-size: 34px;
line-height: 44px;
}
.glyphicon-cutlery, .glyphicon-glass, .glyphicon-education, .glyphicon-cd,.glyphicon-calendar,.glyphicon-search,.glyphicon-book{
font-size:100px;
clear: both;
text-align: center;
width: 100%;
}
@media (max-width:768px){
.drinksCTA{
font-size:2em;
line-height:35px;
padding: 80px 0;
}
}
@media (max-width:450px){
.section1, .section2{
padding: 25xp 0;
h1{
font-size: 2.5em;
line-height: 50px;
}
}
.personQuote{
padding-top:25px;
font-size: 24px;
}
}



.menu-page-header{
background: url(../img/sportsBarPeople.jpg) no-repeat center bottom fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:300px;
h1{
color:#fff;
font-weight: bold;
line-height: 125px;
}
}
.menuChoice{
font-family: $paraFont;
margin-bottom: 10px;
min-height: 75px;
display: block;
}
/*end Index Styles////////////////////////////////////////////////////////////*/
/*Menu page Styles////////////////////////////////////////////////////////////*/


.appBG{
background: url(../img/pizzaApp.jpg) no-repeat center top fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.tacolink{
background: url(../img/spicyTaco.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.burgerlink{
background: url(../img/burgerPlate.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.saladlink{
background: url(../img/saladBowl.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}





.appItems, .saladItems, .tacoItems, .burgerItems{
display: block;
margin: 0 auto;
float: none;

.foodname{
//width: 75%;
float: left;
display:block;
font-size: 26px;
line-height: 36px;
}
.foodPrice{
//width:25%;
float:right;
display:block;
text-align: right;
font-size: 26px;
line-height: 36px;
}
.foodNote{
clear: both;
font-size: 16px;
line-height: 20px;
text-indent: 20px;
letter-spacing: .2px;
}
}

@media(max-width:768px){
.saladlink, .tacolink, .burgerlink{
display:none;

}


.menuChoice{
margin-bottom: 35px;
}
.appItems, .saladItems, .tacoItems, .burgerItems{
.foodname{
text-align: center;

}
.foodPrice{

text-align: center;

}
.foodNote{
width: 100%;
max-width:400px;
text-indent:0px;
margin: 0 auto;
float: none;
}
}
}

@media(max-width:450px){
.appItems, .saladItems, .tacoItems, .burgerItems{
.foodname{
font-size: 22px;
line-height:26px;

}
.foodNote{
font-size: 12px;
} }

}


/*end menu Styles/////////////////////////////////////////////////////////////*/
/*drink Styles////////////////////////////////////////////////////////////////*/


#beer{
background: url(../img/beerTap.jpg) no-repeat center bottom fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
.cocktailBG{
background: url(../img/cocktail.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.whiskeyBG{
background: url(../img/whiskeyBarrels.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.wineBG{
background: url(../img/wineGlass.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}




.foodName, .drinkNote, .whiskeyDrink, .wineDrink{
font-family: $paraFont;
}




.drinkChoice{
display: block;
margin:2.5px;

}



.beerRow{
.foodName{
font-size:26px;
line-height: 36px;
}
.drinkNote{
font-size:18px;
line-height:26px;
}
}



.cocktailRow{
display: block;
margin: 0 auto;
float: none;

.drinkChoice{
margin-top:10px;
margin-bottom: 10px;
}
.foodName{
font-size:26px;
line-height: 32px;
}
.drinkNote{
font-size: 14px;
line-height: 16px;
margin-top: 5px;
letter-spacing: 0.5px;
text-indent: 20px;
}
}



.whiskeyRow{
margin-bottom: 20px;
h2{
text-align: center;
padding-bottom: 10px;
}
.whiskeyDrink{
font-size: 20px;
line-height:30px;
text-align: center;
}
}


.wineRow{
margin-bottom: 20px;

h2{
text-align: center;
padding-bottom: 10px;

}
.wineDrink{
font-size: 20px;
line-height:30px;
text-align: center;

}
}

@media(max-width:768px){
.cocktailBG, .whiskeyBG, .wineBG{
display: none;
}



.beerRow{
text-align: center;
}
.cocktailRow{
.drinkChoice{
margin-top:20px;
margin-bottom:20px;
}
.foodName{

font-size: 22px;
}
.drinkNote{
text-indent: 0px;
}
}
}


@media(max-width:450px){
#beerheading{
//margin-top:15px;
}
.beerRow{

.foodName{
font-size:20px;
line-height:32px;
}
.drinkNote{
font-size:14px;
line-height:22px;
}
}


.cocktailRow{
.foodName{
text-align: center;
}
}





.whiskeyRow{

.whiskeyDrink{
font-size:16px;
line-height:25px;

}
}


.wineRow{

.wineDrink{
font-size:16px;
line-height:25px;

}
}

}














/*end drink Styles////////////////////////////////////////////////////////////*/
/*event page Styles///////////////////////////////////////////////////////////*/


.cateringPara{
display: block;
margin-bottom:25px ;
}
.caterList{
margin-top: 20px;
h3{
margin-top: 15px;
margin-bottom: 10px;
}
ul{
li{
font-family: $paraFont;
font-size: 16px;
line-height: 19px;
letter-spacing: .5px;
text-indent: 25px;
}
}
}
.eventbtn{
display: block;
margin-top:25px;
margin-bottom: 0;
margin-right: auto;
margin-left: auto;
}


/*end event Styles////////////////////////////////////////////////////////////*/
/*Contact page Styles/////////////////////////////////////////////////////////*/


.eventSMicon{
display: block;
margin: 0 auto;
width:150px;
padding: 15px;
}
form {
font-family: $paraFont;
max-width: 450px;
margin: 0 auto;
padding: 25px 0;
min-height: 350px;
}
label {
font-size: 25px;
padding: 10px;
text-decoration: underline;}
input, textarea{
width:100%;
max-width: 450px;
margin-bottom:25px;
height: 45px;
padding: 10px;
}
.checkBoxSec{
display: block;
width:100%;
border:4px solid $warmRed;
height: auto;
min-height:80px;
padding:10px;
p{
margin-top: 12px;
text-align: center;
}
}
input[type='checkbox']{
display: block;
float: left;
width: 50px;
background-color: gold;
}
.DatePickerSection{
display: block;
width:90%;
height: 0;
margin: 0 auto;
text-align: center;
transition: all .2s ease-in-out;
overflow: hidden;
background-color:#fff;
padding:0px 35px 0 35px;
}
#datepicker{
text-align: center;
margin-top:5px;
color:#000;
}
.DatePickerSectionNoShow{
height:100px;
margin-bottom: 15px;
padding-top: 5px;
background-color:$warmRed;
color:#fff;
}
.optional{
font-size: 11px;
margin: 0;
position: relative;
top: -22px;
}
input#email:valid{
border:2px green solid;
background-color:rgba(0,204,102,.2) !important;
}
input[type='email']:invalid:not(:focus):not(:placeholder-shown) {
background: pink;
border: 2px red solid;
}
input:focus, textarea:focus{
border:2px $darkBlue solid;
font-size-adjust: 2px;
font-weight: bold;
letter-spacing: .5px;
}
.hoursInfoSection{
margin: 20px 0;
ul{
margin-top: 5px;
/*text-indent: 15px;*/
}
li{
line-height:24px;
}
}
@media(max-width:768px){
.hoursInfoSection{
ul{
i{
text-align:center;
}
}
}
}
@media(max-width:450px){
.checkBoxSec p {
font-size: 16px;
line-height: 25px;
margin-top: 0px;
}
.DatePickerSection{
width:100%;
padding:2.5px;
}
.DatePickerSectionNoShow{
height: 115px;
}
}
@media(max-width:325px){
input[type=checkbox]{
margin:0 auto;
}
.checkBoxSec p {
clear: both;
}

}


/* END Contact Styles//////////////////////////////////////////////////////// */
/*Footer//////////////////////////////////////////////////////////////////////*/


.footerCol{
display: block;
font-size: 18px;
line-height: 24px;
height: 110px;
margin-bottom:55px;
}
.footerHeader{
font-size: 24px;
line-height: 28px;
//border-bottom:1px solid #fff;
text-decoration: underline;
margin-bottom: 10px;
height: auto;
}
.footerSMicon{
display: block;
width:100px;


}

#footer{
min-height: 250px;
padding: 50px 0;
background-color:$darkGrey;
color:white;
position: relative;
z-index: 9;
border-top: 5px $warmRed solid;
}
